@font-face {
	font-family: 'FBADRENALIN-REGULAR';
	src: url('../fonts/FBADRENALIN-REGULAR.eot') format('embedded-opentype');
	src: url('../fonts/FBADRENALIN-REGULAR.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FBADRENALIN-LIGHT';
	src: url('../fonts/FBADRENALIN-LIGHT.eot') format('embedded-opentype');
	src: url('../fonts/FBADRENALIN-LIGHT.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'EXO2.0-REGULAR_0';
	src: url('../fonts/EXO2.0-REGULAR_0.eot') format('embedded-opentype');
	src: url('../fonts/EXO2.0-REGULAR_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'EXO2.0-MEDIUM_0';
	src: url('../fonts/EXO2.0-MEDIUM_0.eot') format('embedded-opentype');
	src: url('../fonts/EXO2.0-MEDIUM_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EXO2.0-SEMIBOLD_0';
	src: url('../fonts/EXO2.0-SEMIBOLD_0.eot') format('embedded-opentype');
	src: url('../fonts/EXO2.0-SEMIBOLD_0.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OPENSANS-REGULAR_0';
	src: url('../fonts/opensans.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
