@media only screen and (min-width: 1400px){
    
}/*end min-width: 1400px*/
@media only screen and (min-width: 1500px){
	.partners_elements .container{
	    width: 970px;
	}
    .slider .container-sl{
        width: 100%;
    	max-width: 1030px;
    }
    .product_slider .container{
		width: 1190px;
    }
}/*end min-width: 1500px*/	

@media only screen and (max-width: 1850px){
	/*
	h2:after{
		width: 36%;
		background-position: right;
	}
	h2:before{
		width: 36%;
		background-position: left;
	}
	*/
}/*end max-width: 1850px*/

@media only screen and (max-width: 1900px){

}/*end max-width: 1900px*/
@media only screen and (max-width: 1800px){
	.product_block .pa_3_block{
	    padding: 33px 10px;
	}
	.pa .category_menu{
		width: 100%;
	}
	.video__panel{
		border-width:1px;
	}
	.videos .video__poster{
	    height: auto;
	}
	.banner_omnipod{
		top: 102px;
	}

	h2:after{
		width: 35%;
	}
	h2:before{
		width: 35%;
	}/*
	.slider{
		h2:after{
			display: none;
		}
		h2:before{
			display: none;
		}
	}*/
}/*end max-width: 1800px*/

@media only screen and (max-width: 1700px){
	.pa_3_block .product_logo {
	    width: 100%;
	}
	h2:after{
		width: 34%;
	}
	h2:before{
		width: 34%;
	}
	.pa {
		.for_img{
		    margin-top: 0;
		    padding-left: 0;
		}
		.pa_3_block{
			padding-right: 50px;
		}
	}
}/*end max-width: 1700px*/
@media only screen and (max-width: 1650px){
	.category_desc{
	    padding-left: 55px;
    	padding-right: 55px;
	}
}/*end max-width: 1650px*/
@media only screen and (max-width: 1600px){

	.for_blue_block h3{
	    left: -13px;
	}
	.for_blue_block{
	    max-width: 74.0%;
	}
	.receips_1_desc{
	    padding-left: 30px;
    	padding-right: 30px;
	}
	.banner_omnipod{
		top: 52px;
	}
	.banner__h1{
	    top: 150px;
	}
	.banner_blue{
	    top: 367px;
	}
	.banner_transparent{
	    top: 270px;
	}


	h2:after{
		width: 33%;
	}
	h2:before{
		width: 33%;
	}
	.pa .category_menu li a {
	    padding-right: 70px;
	    background-size: 22px;
	    background-position: center right 20px;
        font-size: 18px;
	}
}/*end max-width: 1600px*/

@media only screen and (max-width: 1500px){
	.product_block_menu h3{
		font-size: 18px;
	}
	.for_blue_block h3{
		font-size: 81px;
	}
	.for_blue_block {
	    max-width: 100%;
	    background-size: cover;
	}
	.for_blue_block > .container {
	    float: none;
	}
	.for_blue_block h3 {
	    left: 0;
	}
	.receips_1_inner_desc{
		padding-left: 30px;
	}
	.receips_lists_right {
	    padding-right: 40px;
	}
	.receips_lists_left li{
	    padding-left: 30px;
	}
	.receips_1_desc{
	    padding-left: 20px;
    	padding-right: 20px;
	}
	.tab_2_pdf_block{
	    padding-left: 40px;
    	padding-right: 40px;
	}
	.for_nav_tabs .nav a{
	    padding-left: 30px;
    	padding-right: 30px;
	}
	.for_tabs .video-player{
	    width: calc(25% - 26px);
	}
	.partners_elements>.container{
		width: 100%!important;
	}
	#wrap .partners_elements .owl-nav .owl-next{
		right: -60px;
	}
	#wrap .partners_elements .owl-nav .owl-prev{
    	left: -60px;
	}
	.slider img{
	    max-height: 290px;
	}
	.video_posts p{
		padding-left: 20px;
	    padding-top: 30px;

	}
	.receips_2_inner .for_blue_block {
	    max-width: 100%;
	    margin-left: 0;
	}
	.banner__h1 {
	    top: 140px;
	    font-size: 36px;
	    line-height: 44px;
	}
	.banner_transparent {
	    top: 250px;
	}
}/*end max-width: 1500px*/

@media only screen and (max-width: 1400px){
	.product_logo{
	     width: 100%;
	}
	.block_notice_wrap{
	    padding-right: 80px;
	    padding-left: 50px;
	    background-position: right 16px top 53px;
	}
	.article_block_h3_inner {
	    font-size: 32px;
	}
	.device h2:before,
	.device h2:after{
		display:none;
	}
	.banner__h1 {
	    top: 112px;
	    font-size: 34px;
	    line-height: 42px;
	}
	.banner_omnipod {
	    top: 32px;
	}
	.banner_transparent {
	    top: 220px;
	}
	.category_menu li{
	    background-size: contain;
	}
	.receips_1_block_open{
		font-size: 20px;
		line-height: 40px;
		width: 140px;
	    background-position: left 20px center;
        background-size: 15px;
	}
	.receips_1_block_footer{
		padding-right: 30px;
	}
	.receips_1_cat{
	    font-size: 20px;
	}
	.receips_1_cat{
		width: 135px;
	}
	.category_menu_articles h4{
		padding-right: 30px;
	}
	.cat_article{
		padding-right: 40px;
	}
	#pa_2{
		h2:before{
			right: -65px;
		}
		h2:after{
			left: -65px;
		}
	}
	.pa .category_menu li a {
	    font-size: 18px;
	    padding-right: 60px;
	}
	.testimonials_inner h2:after {
	    left: 100px;
	}
	.testimonials_inner h2:before {
	    right: 100px;
	}
}/*end max-width: 1400px*/

@media only screen and (max-width: 1300px){
	.cart_list_products_block{
	    top: 34px;
	}
	.pa_3_nth {
	    width: 100%;
	    margin: 0 auto;
	    float: none;
	}
	.pa_3_block:before{
		display: none;
	}
	#pa_3 .pa_3_nth:nth-last-child(2) .pa_3_block::after{
		display: block;
	}

	.article_block_h3_inner {
       font-size: 26px;
	    padding-top: 40px;
	    padding-bottom: 37px;
	}
	.sub_product{
	    padding-right: 0;
    	min-width: 100%;
	}
	.device .product_img {
	    margin-left: 0;
	}
	.device .for_img{
	    padding-left: 0;
	}
	.panel_item_all_time{
		padding-left: 20px;
	}
	.banner__h1 {
	    top: 95px;
	    font-size: 30px;
	    line-height: 40px;
	    max-width: 400px;
	}
	.banner_transparent {
	    top: 203px;
	    width: 138px;
	    height: 38px;
	}
	.banner_omnipod {
	    width: 160px;
	}

	h2:after{
		display: none;
	}
	h2:before{
		display: none;
	}
	#wrap .partners_elements .owl-nav .owl-next{
	    right: -50px;
	    width: 40px;
    	height: 45px;
	}
	#wrap .partners_elements .owl-nav .owl-prev{
		left: -50px;
		width: 40px;
    	height: 45px;	
	}
	#wrap .partners_elements{
	    padding-left: 60px;
    	padding-right: 60px;
	}
	#wrap .slider .owl-nav .owl-next{
		right: -50px;
	}
	#wrap .slider .owl-nav .owl-prev{
		left: -50px;
	}
}/*end max-width: 1300px*/

@media only screen and (max-width: 1199px){
	.slide_content{
	    padding-left: 30px;
    	padding-right: 30px;
	}
	.receips_2 .pagination_group button{
	    margin: 0;
	}
	.for_blue_block h3{
		font-size: 71px;
	}
	.pagination_btn{
	    width: 120px;
    	height: 40px;
	}
	.pagination_group{
	    width: 240px;
	}
	.pagination_group button{
		width: 32px;
		height: 32px;
		line-height: 32px;
		margin-left: 2px;
		margin-right: 2px;
	}
	.receips_1_cat {
	    width: 115px;
	    padding-left: 17px;
	}
	.receips_1_block_open{
	    width: 120px;
	}
	.receips_1_block_footer {
	    padding-right: 10px;
	}
	.category_menu {
	    width: 250px;
	}
	.product_slider .carousel-control.right {
	    right: 0px;
	}
	.omni_form .omni_form_bg_right,
	.omni_form .omni_form_bg_left{
	    background-repeat-y: repeat;
        display: none;
	}
	.omni_form_block_submit .omni_form__submit{
		width: 176px;
		height: 60px;
		font-size: 30px;
	}
	.tab_2_zip_block:first-child:before{
		display: none;
	}
	.tab_2_zip_block{
		float: left;
		width: 50%;
	}
	.tab_2_pdf_block {
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.tab_1_img{
		margin-left: 0px;
	}
	.for_nav_tabs .nav a {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.tab_5 p{
		padding-left: 0;
	}
	.video_posts{
	    margin-left: 0;
	}
	
	.next_block h2{
		background-image: none;
	}
	.next_block p{
	    margin-right: 0;
	}
	.next_block h2 img{
		width: auto;
		top: 18px;
	}
	.slide{
		width: 100%;
    	margin: 0 auto;
	}
	.banner__img{
	    width: auto;
    	max-height: 330px;
    	opacity: 0.7;
	}

	.device h2{
		display: none;	
	}
	.btn1,
	.btn2{
		display: block;
		float: right;
	}
	.sub_product_btn{
		clear: both;
	}
	.pa .category_menu li a {
		font-size: 16px;
		padding-right: 50px;
		background-position: center right 14px;
	}
	
	.product_block_inner .product_inner_types button{
		margin-right: 0;
	    max-width: 88px;
	}
	.product_block_inner .product_inner_sum{
		margin-left: 5px;
    	margin-right: 5px;
	}
	.product_block_inner .product_inner_quantity > button{
	    max-width: 138px;
	}
	.receips_2_inner .for_blue_block h3{
	    font-size: 50px;
	}
	.receips_2 .category_menu li a{
		padding-right: 70px;
		background-position: top 17px right 22px;
	    font-size: 15px;
	}
	.product_block_inner2 .carousel-indicators{
	    padding-right: 30px;
    	padding-left: 30px;
    	li{
		    max-width: 100%;
    	}
	}
}/*end max-width: 1199px*/

@media only screen and (max-width: 1100px){
	.slide_content {
	    padding:15px;
        height: auto;
	}
	.slide_content h3{
		font-size: 16px;
	}
	.slide_content p{
		line-height: 19px;
	}
	.receips_lists_right {
	    padding-right: 25px;
	}
	.receips_lists_left li:before{
		width: 27px;
		height: 27px;
		line-height: 27px;
		font-size: 17px;
	}
	.receips_lists_left li{
	    padding-right: 40px;
	}
	.receips_1_inner_desc {
	    padding-right: 30px;
	}
	.block_notice_wrap_blue{
	    margin-left: 20px;
    	margin-right: 20px;
	}
	.articles_inner .article_block{
	    margin-left: 0;
    	margin-right: 0
	}
	.block_notice_wrap {
	    padding-right: 60px;
	    padding-left: 0px;
	    background-position: right 16px top 53px;
	    background-size: 30px;
	}
	.articles_inner .block_notice {
	    font-size: 18px;
	    line-height: 24px;
	}
	.slider>.container{
		max-width: 700px;
	}
	.video__cover:hover{
		background-position-y: 0px!important;
    }
    .category_menu li a:hover:after, .category_menu li a.active:after{
    	display: none;
    }
    
    #pa_3 .product_close:hover{
    	transform:scale(1.2);
    }
    .for_blue_block table tr{
    	background: none;
	    border-bottom: 1px solid #5192b8;
    }
    .for_blue_block table tr:last-child{
    	border:0;
    }

}/*end max-width: 1100px*/

@media only screen and (max-width: 991px){
	.category_block img{
		max-height: initial;
	}
	.device .for_img {
	    text-align: center;
	}
	.product{
		padding: 0;
		border: 0;
		border-bottom: 1px solid #458ab2;
		width: 510px;
		margin: 0 auto;
		margin-bottom: 60px;
	    padding-bottom: 5px;
	}
	.for_blue_block{
		padding-left: 20px;
	}
	.receips_2 .category_menu{
		max-width: 100%;
	}
	.product_block{
		.modal-dialog{
			.oblique_btn_mod4{
			    margin-left: 0;
			}
			.product_inner_quantity > button{
			    max-width: 109px;
			}
			.product_inner_quantity > span{
			    margin-left: 20px;
			}
			.product_inner_sum{
			    margin-left: 14px;
			}
			.product_inner_types button {
			    max-width: 76px;
			}
			.product_inner_types span {
			    margin-left: 0;
			}
			.omnipod_slider .carousel-indicators li {
			    height: 73px;
			}
		}
	}
	.product_block_inner .product_slider .product_logo {
	    width: auto;
	}
	.product_header{
		margin-top: 20px;
	}
	.receips_1_pagination_mod {
	    margin-top: 45px;
	}
	.product_block_menu{
	    max-width: 100%;
	}
	.pa .category_menu{
	    position: relative;
	    top: 0;
	    background:none;
	    background-color: #05365f;
	    padding: 0;
	}
	.pa{
		.category_menu li a:hover:after, .category_menu li a.active:after{
			display: none;
		}
	}

	.for_blue_block_btn{
	    margin-right: 0;
	}
	.for_blue_block h3{
	    margin-bottom: 20px;
	    margin-top: 20px;
	}
	.for_blue_block table .w300 {
	    width: auto;
	}
	.product_slider .device_h3:after{
		display: none;
	}
	.product_slider .carousel-control.right {
	    right: 0;
	}

	.product_slider {
	    padding-bottom: 25px;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.product_slider .carousel-control{
		top: 50%;
	}
	.omni_form{
	    padding-left: 40px;
    	padding-right: 40px;
	}
	.omnipod_description {
	    max-width: 100%;
	    margin-top: 40px;
	}
	.omnipod_slider .carousel-inner{
		height: 400px;
	}
	.tab_2_zip_block h4{
	    font-size: 16px;
    	line-height: 21px;
	}
	.tab_2_zip_block p {
	    font-size: 16px;
	    line-height: 16px;
	}
	.tab_2_pdf_block {
	    width: 50%;
	    min-height: 260px;
        margin-top: 20px;
	}

	.tab_2_pdf_block:nth-child(odd):before{
		display: none;
	}
	.tab_1 p{
		max-width: inherit;
    	float: none;
	}
	.for_nav_tabs .nav a {
	    padding-left: 10px;
	    padding-right: 10px;
	    font-size: 16px;
	}
	#accordion_omni h3{
	    font-size: 16px;
	    line-height: 16px;
	    margin-bottom: 10px;
	    background-size: 15px;
	}
	#accordion_omni p{
		font-size: 14px;
	}
	.for_tabs .video-player {
	    width: calc(33% - 20px);
	    margin-left: 10px;
	    margin-right: 10px;
	}
	.row_flex{
		display: block;
	}
	.category_desc{
	    padding-top: 25px;
	}
	.next_block p{
		padding-left: 0;
	}
	.sub_video_list {
	    padding-right: 15px;
	}
	.category_block{
	    margin-bottom: 20px;
	}
	#wrap .slider .owl-nav .owl-prev{
	    left: -42px;
	    width: 40px;
    	height: 45px;
	}
	#wrap .slider .owl-nav .owl-next{
	    right: -42px;
	    width: 40px;
    	height: 45px;
	}
	.video_posts {
	    margin-right: 0;
	}
	.video_posts hr{
	    background:none;
        background-color: #4881a1;
	}
	.device h2 span{
		font-size: 58px;
	}
	.padding_r {
	    padding-right: 15px;
	}
	.category_menu_articles{
		background: none;
		background-color: #002f5b;
		padding-left: 0;
		padding-top: 0;
	}
	.category_menu_articles li{
		background: 0;
	}
	.category_menu_articles h4{
    	border-bottom: 1px solid #fff;
	}
	.cat_article{
		background-repeat: repeat-x;
		margin-left: 0;
	}
	.category_menu_articles h4{
		background:none;
	}
	.category_menu {
	    background-size: cover;
	    background-repeat: no-repeat;
	    max-width: 100%;
	    padding-right: 0;
	    position: relative;
        z-index: 1;
        width: 100%;
	    background-position: left top -30px;
	    margin-bottom: 40px;
	}
	
	.device2 a{
	    margin-bottom: 5px;
	}
	.category p{
	    line-height: 36px;
	}
	.tab_5_img1{
	    min-height: 320px;
        top: 0;
	}
		.product_slider .for_img {
	    margin-top: 58px;
	    padding-left: 0px;
	    text-align: center;
	}
	.testimonials_inner .video{
	    padding: 15px;
	}
	.product_slider{
		.for_product_quick{
			margin-bottom: 30px;
		}
	}
	#wrap .pa2_number_block_inner h2{
		font-size: 18px;
	}
	.cart_list_products_block {
	    top: 32px;
	}
	#wrap .receips_2_inner .for_blue_block h2 {
	    font-size: 24px;
	    margin-bottom: 0;
	}
	.receips_2_inner .for_blue_block h3 {
	    font-size: 30px;
	    margin-top: 0;
	    margin-bottom: 0;
        line-height: 70px;
	}
	.for_blue_block table{
		margin-bottom: 20px;
	}
	.pa_3_block .product{
		margin-bottom: 0;
	}
	.product_block .pa_3_block {
	    padding-bottom: 0;
	}
	.product_block_inner .product_inner_club{
	    max-width: 230px;
        font-size: 14px;
	}
	.product_block_inner2 .omnipod_slider{
	    margin: 0 auto;
	}
	.product_block_inner2 .for_nav_tabs .nav a {
	    font-size: 16px;
	}
}/*end max-width: 991px*/

@media only screen and (max-width: 767px){
	.category_block{
	    max-width: 260px;
	}
	.receips_2 .pagination_group {
	    width: 230px;
	}
	.cart_list_products_block{
	    top: 46px;
	}
	.product_block_inner .for_nav_tabs{
		height: auto;
	}
	.product_block_inner .for_nav_tabs .nav a {
	    line-height: 45px;
	    height: auto;
	}
	.cart_list_products_block{
		width: 500px;
		td{
			width: auto !important;
			text-align: center !important;
			padding:0 3px;
		}
		table tr td:after{
			right: 0;
		}
		.cart_list_products_block_border {
		    padding: 10px;
		}
	}
	.pa_2_download{
		background-size: 16px;
	}
	.pa_2_table th{
		line-height: 26px;
	    padding-left: 5px;
	    padding-right: 5px;
	    vertical-align: middle;
        font-size: 14px;
	}
	.pa2_number{
	    background-position: right 5px center;
    	background-size: 8px;
	    padding-right: 20px;
	}
	.pa2_date{
		padding-right: 20px;
    	background-size: 12px;
	}
	.pa_2_table td:first-child{
		width: 50px;
	}
	.pa_2_table td *{
		font-size: 12px!important;
	}
	.testi_text_block p{
	    padding-left: 15px;
	}
	.category_menu{
		background-position: left top;
	    padding-bottom: 10px;
	    padding-top: 10px;
	    padding-left: 0;
	    right: 0;
	    background: none;
	    background-color: #05365f;	
	}
	.omni_form h3{
		font-size: 32px;
    	line-height: 42px;
	}
	.omnipod_p{
	    margin-top: 40px;
	}
	.tab_2_zip_block h4{
	    min-height: 70px;
	}
	.tab_1_img {
	    float: none;
	    text-align: center;
	    margin-top: 20px;
	}
	.tab_1 h4{
		margin-top: 50px;
	}
	.tab_1_img img{
		width: 100%;
    	max-width: 405px;
	}
	.tab_5_img1,
	.tab_5_img2{
	    float: none;
	    margin: 0;
	    min-height: auto;
	}
	.for_nav_tabs .nav-tabs{
	    padding-top: 20px;
    	padding-bottom: 20px;
	}
	.for_nav_tabs {
	    height: auto;
	    background: none;
	    background-color: #4386ad;
	}
	.for_nav_tabs .nav-tabs li {
	    display: block;
	}
	.for_nav_tabs .nav a{
		font-size: 18px;
		display: block;
    	padding: 0;
    	height: auto;
    	line-height: 65px;
	}
	.for_tabs .video-player {
	    width: calc(50% - 10px);
	    margin-left: 5px;
	    margin-right: 5px;
	}
	.slider > .container {
	    margin-left: 50px;
	    margin-right: 50px;
	}
	.device h2 span{
		font-size: 48px;
	}
	.pagination_btn{
	    font-size: 12px;
	}
	.pagination_btn {
	    width: 110px;
	    height: 36px;
	}
	.receips_1_prev{
	    background-position: left 14px center;
	    background-size: 6px;
	}
	.receips_1_next{
		background-position: right 14px center;
	    background-size: 6px;
	}
	.pagination_group span{
	    margin-left: 1px;
	    margin-right: 1px;
	}
	.pagination_group button{
	    width: 27px;
	    height: 28px;
	    font-size: 14px;
	    line-height: 28px;
	    margin-left: 1px;
	    margin-right: 1px;
	}
	.pagination_group {
	    width: 196px;
	}
	.receips_1_pagination{
		top: 40%;
	    margin-left: 0;
	    margin-right: 0;
	}
	.category_desc{
	    padding-top: 17px;
	}
	.product_block_inner .product_inner_p{
		float: right;
	}
}/*end max-width: 767px*/
@media only screen and (max-width: 650px){
	.receips_2_inner .for_blue_block table td {
	    font-size: 16px;
	}
	.pa2_number_block_inner{
		width: 400px;
	}
	.omnipod_slider .carousel-indicators{
	    padding-right: 42px;
    	padding-left: 42px;
	}
	.omnipod_slider .carousel-indicators li{
	    width: 23%;
	}
	#pa_1 table td:last-child,
	#pa_1 table td:first-child {
	    width: 100%;
	    display: block;
	}
	.pa {
		.pa_3_block {
		    padding: 15px 0;
		}
		.sub_product .price {
		    font-size: 29px;
		}
		.product_logo{
		    width: 100%;
		}
	}
	.testimonials{
		.video{
			padding: 0;
		}
		.video__name{
			padding-left: 10px;
		    font-size: 22px;
		}
		.video__user_name{
			padding-left: 10px;
		    font-size: 16px;
		}
		.video__name:after{
			display: none;
		}
	}
	.for_blue_block_btn{
	    font-size: 22px;
	    width: 280px;
	    height: 71px;
	}
	.for_blue_block table td {
	    font-size: 16px;
	    padding-right: 0;
	}
	.receips_lists_left li {
	    padding-left: 0;
	}
	.receips_lists_right li{
	    padding-left: 0px;
	}
	.receips_lists_left, .receips_lists_right{
		float: none;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	.receips_1_inner_h3 {
	    font-size: 28px;
	    line-height: 28px;
	    margin-bottom: 16px;
	}
	.articles_inner .block_notice {
		padding-right: 0;
    	padding-left: 15px;
	    border: 0;
	}
	.article_block_h3_inner{
	    padding-right: 15px;
    	padding-left: 15px;
	}
	.articles_inner .article_block_p {
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.articles_share_menu{
	    top: 55px;
    	left: -26px;
	}
	.articles_share{
	    bottom: -20px;
	    left: 21px;
	    width: 45px;
	    height: 45px;
	}
	.omni_form_cont_inner{
	    padding-left: 0;
	}
	.omni_form input{
		width: 100%;
	}
	.omni_form {
	    padding-left: 0;
	    padding-right: 0;
	}
	.omni_form_left, .omni_form_right{
		float: none;
		width: 100%;
		border:0;
		border-bottom: 1px solid #bababa;
	}
	.omni_form_block_submit .omni_form__submit{
	    position: absolute;
	    float: none;
	    left: 0;
	    right: 0;
	    margin: 0 auto;
	    bottom: 20px;
	}
	.omni_form_block_submit{
		position: relative;
    	padding-bottom: 100px;
	}
	.omni_form_for_capha{
	    float: none;
    	margin: 0 auto;
	}
	.omni_form h3{
	    font-size: 28px;
    	line-height: 39px;
	}
	.omnipod_p_blue{
		padding-left: 0;
	}
	.omnipod_slider .carousel-indicators .omnipod_video:after{
	    width: 30px;
    	height: 30px;
	}
	.omnipod_slider .carousel-indicators li {
	    height: 100px;
	}
	.omnipod_slider .carousel-indicators{
	    bottom: -109px;
	}
	.omnipod_slider .carousel-control{
	    width: 38px;
	    height: 102px;
	    bottom: -107px;
	}
	.for_tabs .video-player {
	    width: 100%;
	    margin-left: 0;
	    margin-right: 0;
	}
	#wrap h2 i{
		display: none;
	}
	#wrap h2 span{
		display: block;
	    line-height: 60px;
	}
	.how_low p{
		font-size: 22px;
	}
	.category h2 {
	    margin-bottom: 19px;
	}
	.category {
	    padding-top: 49px;
	}
	.category p{
		margin-bottom: 47px;
	}
	.category_blocks{
		padding-bottom: 26px;
	}
	.partners_elements img{
		width: 100%;
    	padding: 15px;
	}
	.partners_elements .col-md-3{
		line-height: inherit;
	}
	.pa_submit2{
	    margin-top: 30px;
	}
	.receips_2_inner .receips_lists_left,
	 .receips_2_inner .receips_lists_right{
		width: 100%;
	}
	.product_block_inner2 .omnipod_slider .carousel-indicators li {
	    width: 25%;
	    float: left;
	}
}/*end max-width: 650px*/
@media only screen and (max-width: 550px){
	.pa_submit{
	    margin: 0 auto;
	    margin-top: 31px;
	}
	.oblique_btn_mod4{
	    width: 185px;
		height: 60px;
	}
	.product_block_inner .product_inner_quantity > button {
	    max-width: 100px;
	    font-size: 18px;
	}
	.product_block_inner .product_inner_sum {
	    margin-left: 0;
	    margin-right: 0;
	}
	.product_block_inner .product_inner_quantity span{
		margin-left: 0;
	}
	.product_block_inner .product_inner_types span{
		margin-left: 0;	
	}
	.product_block_inner .product_inner_types button{
	    font-size: 18px;
        max-width: 70px;
	}
	.product_block_inner .product_slider .product_logo{
		width: 100%;
	}
	#pa_2 .pa2_number{
		font-size: 10px !important;
		background:none;
		padding: 0;
	    text-align: center;
    	width: 100%;
	}
	.pa2_date_time{
	    line-height: 17px;
	}
	.pa_2_table td{
	    vertical-align: middle;
	}
	.pa2_date{
		background:none;
		padding-right: 0;
	}
	.testi_text_block_white{
	    padding-right: 15px;
    	padding-left: 15px;
	}
	.tab_3 .nav-tabs > li{
		float: none;
    	width: 100%;
	}
	.product_slider .for_img {
	    margin-top: 28px;
	}
	.omnipod_slider {
	    padding-bottom: 100px;
	}
	.omnipod_slider .carousel-control {
	    width: 38px;
	    height: 81px;
	    bottom: -87px;
	}
	.omnipod_slider .carousel-indicators {
	    bottom: -89px;
	}
	.omnipod_slider .carousel-indicators li {
	    height: 80px;
	}
	.tab_2_zip_block {
	    width: 100%;
	}
	.tab_2_zip_block h4 {
	    min-height: auto;
	}
	.tab_2_zip_block:before{
		display: none;
	}
	.for_tabs hr{
	    border-top-width: 2px;
        margin-top: 63px;
    	margin-bottom: 10px;
	}
	.tab_2_pdf_block {
	    width: 100%;
	    /*border-top: 1px solid #4386ad;*/
	    padding-top: 20px;
	}
	.tab_2_pdf_block:first-child{
		border-top-width: 0px;
	}
	.tab_2_pdf_block:before {
	    left: 0;
	    right: 0;
	    top: -30px;
	    width: 100%;
	    height: 1px;
	}
	.tab_2_pdf_block:before{
		display: none;
	}

	.receips_1_prev{
	    background-image: url(../img/icons/receips_1_prev.png);
	}
	.receips_1_next{
	    background-image: url(../img/icons/receips_1_next.png);
	}
	.pagination_btn {
	    width: 34px;
	    height: 36px;
	    color: transparent;
	}
	.how_low {
	    background-position: top right -25px;
	    text-align: right;
        padding-bottom: 29px;
    	margin-bottom: 20px;
	}
	.how_low p {
	    font-size: 19px;
        margin-top: 26px;
        margin-right: 34px;
	}
	.how_low_bgColor{
	    padding-left: 10px;
    	padding-right: 10px;
	}
	.img1 {
	    display: none;
	}
	.product{
		width: 400px;
	}
	.videos .video__poster {
	    height: auto;
	}
	.videos .video__name{
	    padding-left: 30px;
	}
	.videos .video__user_name{
		font-size: 13px;
		top: 53%;
	    padding-left: 30px;
	}
	.play{
	    width: 35px;
	    height: 36px;
	    background-size: contain;
	}
	.play_back,
	.play_next,
	.play_volume,
	.videos .video__shoffe{
	    width: 13px;
	    height: 14px;
	    background-size: contain;
	    background-repeat: no-repeat;
	}
	.video__panel{
		border-width: 1px;
	    padding-top: 11px;
    	padding-bottom: 6px;
	}
	.next_block h2 img{
		margin-left: 0;
    	margin-right: 0;
	}
	.receips_2 .receips_1_next,
	 .receips_2 .receips_1_prev{
	    width: 34px;
	    height: 36px;
	    background-position: right 14px center;
	}
	.how_low h3{
		padding: 0;
		text-align: center;
	}
	.how_low h3:after{
		display: none;
	}
	.how_low p{
		margin-right: 0;
		text-align: center;
	}
	.how_low button{
	    margin: 0 auto;
	    margin-top: 20px;
	    display: block;
	}
}/*end max-width: 550px*/

@media only screen and (max-width: 500px){
	.pa_3_block .product{
	    	padding-right: 0;
	}
	.product_block_inner{
		.modal-dialog{
			    max-width: 320px;
			    margin: 0 auto;
			.modal-body{
				padding-top: 10px;
			    padding-right: 0;
    			padding-left: 0;
			}
			.product_inner_h3{
				font-size: 25px;
    			padding-right: 21px;
			}
			.omnipod_description{
			    padding-left: 10px;
	    		padding-right: 10px;
			}
			.product_inner_h4{
				font-size: 28px;
			}
			.product_inner_p{
				font-size: 16px;
    			line-height: 22px;
			}
			.product_inner_price_club_card{
				font-size: 32px;
    			margin-top: 24px;
			}
			.omnipod_slider {
		        padding-left: 5px;
    			padding-right: 5px;
			}
			.omnipod_slider .carousel-inner {
			    height: 300px;
			}
			.product_inner_club {
			    max-width: 230px;
			    font-size: 13px;
		        margin-top: 89px;
			}
		}
		

	}
	.product{
		width: auto;
	    padding-left: 15px;
    	padding-right: 15px;
	}
	.cart_list_products_block {
	    width: 410px;
		.cart_list_products_del span{
		    width: 30px;
		    height: 30px;
		}
		.cart_list_products_price h5,
		.cart_list_products_price2 h5,
		.cart_list_products_count h5,
		.cart_list_products_name h5{
    		font-size: 13px;
		}
		.cart_list_products_img img {
		    width: 30px;
		}
		.cart_list_products_name {
		    max-width: 60px;
		}
		.cart_list_products_btn{
		    width: 135px;
		    line-height: 42px;
		    font-size: 18px;
		    padding-right: 18px;
		    background-position: left 13px center;
		    background-size: 21px;
		}
		.cart_list_products_btn:hover{
			background-position: left 10px center;
		}
		.cart_list_products_total{
			font-size: 22px;
		}
		table tr{
			height: 90px;
		}
		table tr td:after{
    		top: 25px;
		}
	}
	.testimonials .nav-tabs{
	    padding-right: 0;
	}
	.testimonials .nav-tabs li a{
	    width: 139px;
	}
}/*end max-width: 550px*/

@media only screen and (max-width: 414px){
	.pa2_number_block_inner {
	    width: 300px;
	}
	.pa2_list_product table td:first-child {
	    width: 40px;
	}
	.pa2_list_product_img {
	    width: 50px;
	}

	.cart_list_products_block{
		width: 320px;
		.cart_list_products_del span {
		    width: 20px;
		    height: 20px;
		    background-size: 7px;
		}
		.cart_list_products_block_border {
		    padding: 2px;
		}
		.cart_list_products_btn{
    		margin-left: 10px;
		}
		.cart_list_products_total{
		    margin-right: 10px;
		}
	}
	#pa_3 .product_close{
		left: 25px;
	    top: 30px;
	}
	.category_menu{
		float: none;
	}
	.slider > .container {
	    margin-left: 0px;
	    margin-right: 0px;
	}
	#wrap .next_block h2 {
	    text-align: center;
	}
	.product{
		width: 100%;
	}
	.videos .video__wrap{
	    padding: 5px;
	}
	.video_posts{
		margin-left: 0;
	}
	#wrap .slider .item {
	    padding-left: 0;
	    padding-right: 0;
	}
	#wrap .slider .owl-nav .owl-next{
	    right: -275px;
	    width: 300px;
	    height: 300px;
	    background: none;
	     background-color: rgba(22, 149, 255, 0.36);
	    border-radius: 200px;
	    background-image: url(../img/icons/owl_arrow_right.png);
        background-repeat: no-repeat;
    	background-position: left 20px center;
	}
	#wrap .slider .owl-nav .owl-next:hover{
		background-image: url(../img/icons/owl_arrow_right.png);
	}
	#wrap .slider .owl-nav .owl-prev:hover{
		background-image: url(../img/icons/owl_arrow_left.png);
	}
	#wrap .slider .owl-nav .owl-prev{
	    left: -275px;
	    width: 300px;
	    height: 300px;
	    background: none;
        background-color: rgba(22, 149, 255, 0.36);
	    border-radius: 200px;
	    background-image: url(../img/icons/owl_arrow_left.png);
        background-repeat: no-repeat;
    	background-position: right 20px center;
	}
	#wrap .slider .owl-nav{
	    top: 25%;
	}
	#wrap .slider .owl-nav .owl-next:after{
		content: ">";
		position: absolute;

	}
	.banner__img{
		display: none;
	}
	.banner__img_414{
		display: block;
	}
	.banner_omnipod{
		width: 130px;
	    top: 94px;
	    left: 58px;
	    right: auto;
	}
	.banner__h1{
	    font-size: 27px;
    	top: 268px;
	}
	.banner_blue{
	    top: 362px;
        width: 196px;
    	height: 54px;
	}
	.banner_transparent{
		top: 380px;
        width: 196px;
    	height: 54px;
	}
	.device{
		padding-bottom: 0;
	}
	.videos{
	    padding-top: 0;
	}
	.device .product_img {
	    max-width: 100%;
	}
	.sub_product {
	    padding-right: 10px;
	}
	.for_product_quick .sale_icon{
	    width: 80px;
        top: 42px;
        left: 10px;
	}
}/*end max-width: 414px*/
@media only screen and (max-width: 375px){
	.for_product_quick .sale_icon {
	    width: 70px;
	    top: 42px;
	    left: 8px;
	}
	.video__name:after{
		display: none;
	}
	.pa2_number_block_inner {
	    width: 290px;
	}
	#wrap .partners h2 {
    font-size: 22px;
    line-height: 71px;
}
	
}/*end max-width: 375px*/



/*--------------------*/

body.font_size_s *{
    zoom: 1.02;
}
body.font_size_s .topMenu_left *{
   zoom: 1 !important;
}

body.font_size_m *:not(img){
    zoom: 1.03;
}
body.font_size_m .topMenu_left *{
   zoom: 1 !important;
}

body.font_size_b *:not(img){
    zoom: 1.03;
    font-weight: bold;
}
body.font_size_b .topMenu_left *{
   zoom: 1 !important;
   font-weight: normal;
}


body.color_gray{
	filter: grayscale(100%) !important;
}
body.color_black *{
    background-color: #000 !important;
    color: #edff00 !important;
}
body.color_blue *{
    background-color: #3d75a5 !important;
    color: #a4c0df !important;
}

body.color_black .content *,
body.color_blue .content *{
    background-image: none !important;
}

body.color_black{
	.sub_menu span{
		background-color: #edff00 !important;
	}
	.navbar-nav__left li{
		background-image: none !important;
		border-right: 1px solid #edff00 ;
	}
	.topMenu_left_bottom{
		background-color: rgba(255, 255, 255, 0) !important;
	}
	#navbar .extra_menu{
		background-image: none !important;
		border-left: 1px solid #edff00 ;
	}
	#navbar,
	.hidden_heder1, .hidden_heder2,
	.footer,
	.contact-us .columns-wrapper .column{
		background-image: none !important;
	}
	.omnipod_yellow,
	.freestyle_yellow{
		display: inline;	
	}
	.omnipod,
	.libre{
		display: none;
	}
	.tml_nav_open,
	.tml_nav_icon{
		background-image: url(../img/icons/topMenu_left_top_yellow.png);
	}
	#navbar .cart{
		background-image: url(../img/icons/cart_yellow.png);
	}
	.topMenu_left_bottom_btn{
		background-image: url(../img/icons/search_yellow.png);
	}
	.topMenu_left,
	.topMenu_left li{
		border-color: #edff00 ;
	}
	.tml_color_refresh,
	.tml_font_size_refresh{
		background-image: url(../img/icons/load_yellow.png);
	}
	.category_menu li a:hover:after, .category_menu li a.active:after{
		background-image: url(../img/icons/hover_receios_yellow.png);
	}
	.footer .iso{
		background-image: url(../img/icons/facebook_yellow.png);
	}
	.footer .youtube{
		background-image: url(../img/icons/footer_icon0_yellow.png);
	}
	.drop::after,
	.lang::after{
		display: none;
	}
	.signIn_user i,
	.langBlock i{
		background-image: url(../img/icons/arrow_login_yellow.png);
	    background-size: contain;
	}
	.drop,
	.lang{
		border-color: #edff00 ;
	}
	.topMenu_left .tml_nav,
	.tml_color{
		border-color: #edff00 ;
	}
	.topMenu_left .tml_nav_close,
	.extra_menu_close{
		background-image: url(../img/icons/tml_nav_close_yellow.png);
	}
	.tml_font_size_s{
		background-image: url(../img/icons/tml_font_size_s_yellow.png);
	}
	.tml_font_size_m{
		background-image: url(../img/icons/tml_font_size_m_yellow.png);
	}
	.tml_font_size_b{
		background-image: url(../img/icons/tml_font_size_b_yellow.png);
	}
	.tml_headers{
		background-image: url(../img/icons/tml_headers_yellow.png);
	}
	.tml_links{
		background-image: url(../img/icons/tml_links_yellow.png);
	}
	.tml_zoom{
		background-image: url(../img/icons/tml_zoom_yellow.png);
	}
	.all_refresh{
		background-image: url(../img/icons/all_refresh_yellow.png);	
	}
	.drop_1 {
	    background-image: url(../img/icons/drop_1_yellow.png);
	}
	.drop_2 {
	    background-image: url(../img/icons/drop_2_yellow.png);
	}
	.drop_3 {
	    background-image: url(../img/icons/drop_3_yellow.png);
	}
	.drop_4 {
	    background-image: url(../img/icons/drop_4_yellow.png);
	}
	.play{
		background-image: url(../img/icons/play_yellow.png)!important;	
	}
	.play_back{
		background-image: url(../img/icons/play_yellow.png)!important;		
	}
	.signIn{
		background-image: url(../img/icons/user_yellow.png);	
	}
	.play_back{
		background-image: url(../img/icons/play_back_yellow.png)!important;	
	}
	.play_next{
		background-image: url(../img/icons/play_next_yellow.png)!important;	
	}
	.panel_item_btn.pause{
		background-image: url(../img/icons/pause_yellow.png)!important;	
	}
	.play_volume{
		background-image: url(../img/icons/volume_yellow.png)!important;	
		background-size: contain;	
	}
	.play_volume.muted{
		background-image: url(../img/icons/volume_close_yellow.png)!important;	
	}
	.videos .video__name:after{
		display: none;
	}
	.footer li:after {
	    color: #edff00 ;
	}
	h2:before,
	h2:after{
		display: none;
	}
	/*recept*/
	.receips_1_block_footer{
		background: none;
		border:1px solid #edff00;
	}
	.category_menu_receips_1{
		background: none;
		border:1px solid #edff00;
	}
	.category_menu li a:hover:after,
	 .category_menu li a.active:after{
	    background-image: none !important;
	    background-color: #edff00;
	}

	/*articles*/
	.articles_share{
		background-color: transparent !important;
	}
	.for_img{
		background: none;
	}
	.for_nav_tabs{
		background: none;
		border:1px solid #edff00;
	}
	.tab_2_zip_block:before,
	.tab_2_pdf_block:before{
		background-color: #edff00;
	}
	#accordion_omni h3{
		border-color: #edff00 !important;
	}
}

body.color_blue,{
	h2:before,
	h2:after,
	.drop::after,
	.lang::after{
		display: none;
	}
	.sub_menu span{
	    background-color: #d4dce3 !important;
	}
	.play{
	    background-image: url(../img/icons/play.png)!important;
	}
	.panel_item_btn.pause {
    	background-image: url(../img/icons/pause.png)!important;
    }
    .play_next{
	    background-image: url(../img/icons/play_next.png)!important;
    }
    .play_back{
    	background-image: url(../img/icons/play_back.png)!important;	
    }
    .play_volume{
    	background-image: url(../img/icons/play_volume.png)!important;
    }
    #navbar{
    	background-image: none;
    }
    .topMenu_left_bottom{
    	background-color: rgba(255, 255, 255, 0)!important;
    }
    .receips_1_block_footer{
		background-image: none !important;
	    border: 1px solid #05365f;
    }
    .category_menu_receips_1{
		background-image: none !important;
	    border: 1px solid #05365f;
	}
	.category_menu li a:hover:after,
	 .category_menu li a.active:after{
	    background-image: none !important;
	    background-color: #05365f;
	}

	/*articles*/
	.articles_share{
		background-color: transparent !important;
	}
}



body.zoom{
	zoom: 1.2;
	line-height: 130% !important;
	font-weight: bold;
}

body.links a,
body.links button{
    border-bottom: #00cc99 2px dotted !important;
}

body.headers h1,
body.headers h2,
body.headers h3,
body.headers h4,
body.headers h5,
body.headers h6{
	font-weight: bold;
    padding: 2px 4px;
    background: #ccffcc;
    color: red;
    border-radius: 5px;
}
/*--------------------*/